.header {
  position: relative;
  height: 72px;
  .container {
    margin: 0px auto;
    max-width: 1440px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    & > img {
      width: 126px;
      height: 36px;
    }
    nav {
      color: white;
      font-family: Poppins-Regular, Poppins;
      span {
        margin-left: 40px;
        user-select: none;
        a {
          color: white;
          text-decoration: none;
        }
      }
      .headerEntry {
        display: inline-block;
        width: 126px;
        height: 40px;
        background: linear-gradient(270deg, #b721ff 0%, #21d4fd 100%);
        border-radius: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 40px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
