.header {
  position: relative;
  height: 72px;
  .container {
    margin: 0px auto;
    width: 1440px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    & > img {
      width: 126px;
      height: 36px;
    }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-family: Poppins-Regular, Poppins;
      span {
        margin-left: 40px;
        user-select: none;
        a {
          color: white;
          text-decoration: none;
        }
      }
      .headerEntry {
        display: inline-block;
        font-size: 12px;
        width: 126px;
        height: 40px;
        font-family: Agrandir-GrandHeavy, Agrandir;
        background: linear-gradient(270deg, #b721ff 0%, #21d4fd 100%);
        border-radius: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 40px;
        font-weight: normal;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .forGuild {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px;
      height: 40px;
      font-size: 16px;
      font-family: Poppins-SemiBold, Poppins;
      font-weight: 600;
      color: #ffffff;
      line-height: 24px;
      border-radius: 20px;
      background: linear-gradient(
        270deg,
        rgba(183, 33, 255, 1),
        rgba(33, 212, 253, 1)
      );
      position: relative;
      a {
        padding: 6px 23px;
        border-radius: 20px;
        background: black;
        margin: auto;
      }

      &::after {
        display: inline-block;
        position: absolute;
        width: 40px;
        height: 20px;
        z-index: 10;
        content: '';
        background: url(../../images/tag_new.svg);
        right: -15px;
        top: -8px;
      }
    }
  }
}
