@font-face {
  font-family: "MonumentExtended";
  src: url("../fonts/MonumentExtended-Regular.otf");
}

@font-face {
  font-family: "Agrandir-GrandHeavy";
  src: url("../fonts/Agrandir-GrandHeavy.otf");
}